@import url("https://use.typekit.net/giu3cqx.css");
@import url("https://use.typekit.net/dek1tku.css");
@import url('http://fonts.cdnfonts.com/css/apercu');


.wg-about .avatar {
  width: 200px;
  height: 200px;
}

.navbar {
	height: 70px;
	background: #f8f9fa;
	font-size: 16.17px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 0 1rem;
}

#navbar-main .main-menu-item ul li .nav-link {
	color: #535556;
	margin: 4px;
	font-family: source-sans-pro,sans-serif;
  font-size: 9pt;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.navbar .navbar-nav .nav-link.active {
  font-weight: 700!important;
  color: #0468bf!important;
}

.navbar-light .navbar-brand {
	color: #535556;
	font-family: source-sans-pro, sans-serif;
	font-size: 14pt;
	font-weight: 500;
	padding: 6px;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: #0468bf;
}
.featurette .section-subheading {
  font-size: 11pt!important;
  font-family: 'source-sans-pro';
  font-weight: 400;
  line-height: initial;
}

.featurette-icon{
  font-size: 4.5rem;
}


h1 {
	font-weight: 700;
  color: #012326;
  font-family: bebas-neue,sans-serif;
  letter-spacing: 1.5px;
  font-size: 22pt;
}

h3 {
	font-weight: 700;
  color: #012326;
  font-family: bebas-neue,sans-serif;
  line-height: 35px;
  letter-spacing: 1px;
  font-size: 14pt;
}
.section-subheading {
  font-weight: 700;
  color: #012326;
  font-family: bebas-neue,sans-serif;
  line-height: 35px;
  letter-spacing: 1px;
  font-size: 14pt;
}

.section-heading h1 {
	font-weight: 700;
  color: #012326;
  font-family: bebas-neue,sans-serif;
  letter-spacing: 1.5px;
  font-size: 25pt;
}

.portrait-title h2 {
  margin: 15px auto 5px auto;
  font-weight: 600;
  /*font-family: source-sans-pro, sans-serif;
  color: #03572F;*/
  font-family: "apercu",sans-serif;
  color: #012340;
  font-size: 21pt;
  line-height: 20pt;
  letter-spacing: -2px;
}
a {
  /*color: #F2865E*/
  color: #0468bf;
  opacity: 100%;
}

.article-style a:hover, .article-style a:focus {
  color: #0468bf;
  opacity: 1;
  text-decoration: underline;
}

.portrait-title h3 {
	font-size: 15pt;
	opacity: 0.9;
  font-weight: 300;
  color: #023e73;
  font-family: source-sans-pro,sans-serif;
  line-height: 21px;
  letter-spacing: -0.25px;
  margin: auto;
  max-width: 285px;

}

#profile .network-icon {
  margin-top: 15px;
}

.big-icon {
  color: #012326;
  opacity: 0.75;
  font-size: 18pt;
  padding: 4px;
  margin-top: -1em;
}
.fa-li {
  font-size: 0.85rem;
}

p {
  opacity: .8;
  font-size: 12pt!important;
  font-family: 'source-sans-pro';
  font-weight: 200;
}


ul, ol, dl {
	/*font-size: 11pt;*/
	margin-top: 0;
	margin-bottom: 1rem;
	padding-inline-start: 1.3em;
}

.card h4 {
	font-size: 11pt;
	font-family: freight-text-pro, georgia, serif;
	font-weight: 500;
	text-transform: none;
	margin-top: 10px;
	margin-bottom: 0;
	color: #343a40 !important;
}

.exp-title {
  font-size: 11pt!important;
	font-family: 'source-sans-pro';
	font-weight: 500;
	text-transform: none;
	color: #023E73 !important;
}

.exp-company {
  font-size: 10pt!important;
  font-family: 'source-sans-pro';
  font-weight: 400;
  color: #3D83BF !important;
}

.exp-meta {
	font-family: 'source-sans-pro';
  font-weight: 300;
  font-size: 9pt;
  color: rgba(52, 58, 64, 0.6)!important;
}

.experience .card-text, .experience .card-text p {
  color: rgba(52, 58, 64, 0.6)!important;
	font-size: 11pt!important;
	font-family: 'source-sans-pro';
	font-weight: 200;
	font-style: normal;
}

.card h4 a {
	font-size: 11pt;
  font-family: 'source-sans-pro';
  font-weight: 400;
  color: #0468bf !important; /*#0E4A9E*/
}

.card .card-text p {
  color: rgba(52, 58, 64, 0.6)!important;
	font-size: 9pt!important;
	font-family: 'source-sans-pro';
	font-weight: 200;
	font-style: normal;
}

ul.ul-edu li .description p.course {
  color: #0468bf; /*#026E1B;*/
  opacity: 1;
  font-size: 12pt!important;
  font-family: 'source-sans-pro';
  font-weight: 400;
}

ul.ul-edu li .description p.institution {
  opacity: .75;
  font-size: 11pt!important;
  font-family: 'source-sans-pro';
  font-weight: 200;
  line-height: 20px;
  color: #012326;
}

ul.ul-interests li {
	font-size: 11pt;
  font-family: 'source-sans-pro';
	font-weight: 300;
	font-style: normal;
  opacity: 0.75;
}

ul.nav-icons li.nav-item a.nav-link {
	padding: 0;
	color: #535556;
}
.btn-primary {
  background: #2c5e8a; /*#3E669E*/
}

.btn-toolbar .btn.btn-primary.active {
  background: #1565c0 !important;
  font-weight: bold;
}
.btn-toolbar .btn.btn-primary:hover, .btn-toolbar .btn.btn-primary:focus {
  background-color: #1565c0 !important;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #217ee7;
}

.btn-toolbar .btn {
	padding: 10px 14px 9px;
	border: none;
  font-family: source-sans-pro,sans-serif;
  font-size: 7.4pt;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;

}


h4.card-title.exp-company.text-muted.my-0 {
  font-size: 10pt;
  color: rgba(52, 58, 64, .84)!important;
}

.experience .m-2 .border, .experience .col.border-right {
  border-color: #3D83BF !important;
}

/*h1.mb-0 {
  margin: 0 auto 0px auto;
}

@media (min-width: 99px){
.col-lg-8 {
  flex: 0 0 60.666667%;
  max-width: 60.666667%;
  }
}*/

.isotope.projects-container.js-layout-masonry {
  margin-right: 20px;
  overflow: visible;
}
.gallery a[data-fancybox] img {
  /*height: 180px;*/
  height: 180px;
}

.gallery {
  padding-left: 25px;
}

/*.container {
  margin-left: 30px !important;
  margin-right: 30px !important;
}*/

@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

.section-heading.col-12.col-lg-4.mb-3.mb-lg-0.d-flex.flex-column.align-items-center.align-items-center {
  /*align-items: self-start;*/
  align-items: self-start !important;
}

.home-section {
  background: white;
}

.home-section:nth-of-type(even) {
  background: #f8f9fa;
}



    
