@import url("https://use.typekit.net/giu3cqx.css");
@import url("https://use.typekit.net/dek1tku.css");

.avatar {
	width: 190px;
	height: 190px;
	margin: 0 auto;
}

.wg-about .avatar {
    width: 170px;
    height: 170px;
}

.navbar {
	height: 70px;
	background: #f8f9fa;
	font-size: 16.17px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 0 1rem;
}

#navbar-main .main-menu-item ul li .nav-link {
	color: #535556;
	margin: 4px;
	font-family: source-sans-pro,sans-serif;
  font-size: 8pt;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
}

.navbar .navbar-nav .nav-link.active {
  font-weight: 700!important;
  color: #69b0e2!important;
}

.navbar-light .navbar-brand {
	color: #535556;
	font-family: source-sans-pro, sans-serif;
	font-size: 13pt;
	font-weight: 500;
}

.featurette .section-subheading {
  font-size: 11pt!important;
  font-family: 'source-sans-pro';
  font-weight: 400;
}

.featurette-icon{
  font-size: 3.4rem;
}


h1 {
	font-weight: 700;
  color: #30373c;
  font-family: bebas-neue,sans-serif;
  letter-spacing: 1.5px;
  font-size: 22pt;
}

h3 {
	font-weight: 700;
  color: #30373c;
  font-family: bebas-neue,sans-serif;
  line-height: 35px;
  letter-spacing: 1px;
  font-size: 14pt;
}
.section-subheading {
  font-weight: 700;
  color: #30373c;
  font-family: bebas-neue,sans-serif;
  line-height: 35px;
  letter-spacing: 1px;
  font-size: 14pt;
}

.section-heading h1 {
	font-weight: 700;
  color: #30373c;
  font-family: bebas-neue,sans-serif;
  letter-spacing: 1.5px;
  font-size: 22pt;
}

.portrait-title h2 {
	color: midnightblue;
  margin: 10px 20px 5px 20px;
  font-weight: 700;
  font-family: bebas-neue,sans-serif;
  line-height: 28pt;
  font-size: 28pt;
}

.portrait-title h3 {
	font-size: 12.4pt;
  letter-spacing: -0.25px;
  color: rgba(0,0,0,.54);
  font-family: source-sans-pro,sans-serif;
  font-weight: 500;
  line-height: 20px;
  margin: 10px 20px 5px 20px;
}

#profile .network-icon {
  margin-top: 18px;
}

.big-icon {
  color: #154C7D;
  opacity: 0.8;
  font-size: 1.4rem;
  padding: 4px;
  margin-top: -1em;
}

p {
  opacity: .8;
  font-size: 13pt!important;
  font-family: 'source-sans-pro';
  font-weight: 200;
}


ul, ol, dl {
	/*font-size: 11pt;*/
	margin-top: 0;
	margin-bottom: 1rem;
	padding-inline-start: 1.3em;
}

.card h4 {
	font-size: 11pt;
	font-family: freight-text-pro, georgia, serif;
	font-weight: 500;
	text-transform: none;
	margin-top: 10px;
	margin-bottom: 0;
	color: #343a40 !important;
}

.exp-title {
  font-size: 11pt!important;
	font-family: 'source-sans-pro';
	font-weight: 500;
	text-transform: none;
	color: #343a40 !important;
}

.exp-company {
  font-size: 10pt!important;
  font-family: 'source-sans-pro';
  font-weight: 400;
}

.exp-meta {
	font-family: 'source-sans-pro';
  font-weight: 300;
  font-size: 9pt;
  color: rgba(52, 58, 64, 0.6)!important;
}

.experience .card-text, .experience .card-text p {
  color: rgba(52, 58, 64, 0.6)!important;
	font-size: 11pt!important;
	font-family: 'source-sans-pro';
	font-weight: 200;
	font-style: normal;
}

.card h4 a {
	font-size: 11pt;
  font-family: 'source-sans-pro';
  font-weight: 400;
  color: #366699!important;
}

.card .card-text p {
  color: rgba(52, 58, 64, 0.6)!important;
	font-size: 9pt!important;
	font-family: 'source-sans-pro';
	font-weight: 200;
	font-style: normal;
}

ul.ul-edu li .description p.course {
  color: #366699;
  opacity: .85;
  font-size: 11pt!important;
  font-family: 'source-sans-pro';
  font-weight: 200;
}

ul.ul-edu li .description p.institution {
  opacity: .75;
  font-size: 10pt!important;
  font-family: 'source-sans-pro';
  font-weight: 200;

}

ul.ul-interests li {
	font-size: 11pt;
  font-family: 'source-sans-pro';
	font-weight: 300;
	font-style: normal;
  opacity: 0.75;
}

ul.nav-icons li.nav-item a.nav-link {
	padding: 0;
	color: #535556;
}

.btn-toolbar .btn {
	padding: 10px 14px 9px;
	border: none;
  font-family: source-sans-pro,sans-serif;
  font-size: 7.4pt;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;

}


h4.card-title.exp-company.text-muted.my-0 {
  font-size: 10pt;
  color: rgba(52, 58, 64, .84)!important;
}



