{{ $action := .Site.Params.contacts }}
{{ with .Site.Data.home.contacts }}

<!-- Contact Form -->
<div class="content contacts">

	{{ if .title }}
	<div class="title">
	  <div class = "contact-logo" style="content: url({{ .contactico | absURL }});"></div>
	  <h2 class="advantages__title title" data-aos="animation-scale-y" data-aos-delay="50">{{ .title }}</h2>
	  </div>
	{{ end }}

	<!-- content -->
	<div class="skills__box row"> <!-- data-aos="animation-translate-up" -->
		<div class="col col-d-12 col-t-12 col-m-12 border-line-v advantages__inner">
			<div class="contact_form advantages__list">
				<form id="cform" action="{{ $action }}" method="POST">
					<div class="row">
						<div class="col col-d-6 col-t-6 col-m-12">
							<div class="group-val">
								<input type="text" name="name" placeholder="{{ i18n "fullName" }}" id="name" />
							</div>
						</div>
						<div class="col col-d-6 col-t-6 col-m-12">
							<div class="group-val">
								<input type="text" name="email" placeholder="{{ i18n "emailAddress" }}" id="email" />
							</div>
						</div>
						<div class="col col-d-12 col-t-12 col-m-12">
							<div class="group-val">
								<textarea name="message" placeholder="{{ i18n "yourMessage" }}" id="message"></textarea>
							</div>
						</div>
					</div>
					<div class="align-left">
						<a href="#" class="button" onclick="$('#cform').submit(); return false;">
							<span class="text">{{ i18n "sendMessage" }}</span>
							<span class="arrow"></span>
						</a>
					</div>
				</form>
			</div>
			<div class="alert-success" id="formAlertSuccess" style="display: none;">
				<p>{{ i18n "successMessage" }}</p>
			</div>
		</div>
		<div class="clear"></div>
		
		
		
		
              
              
              
              
	</div>
	
	
	
	<!-- Background Wrap Object -->
            <div class = "blob-skills1" style = "right: .08%; top: -2%; transform: rotate(13deg); filter: saturate(1.25);">
	    <div class = "obj-skills1" style="content: url({{ .contactblob1 | absURL }}); width: 150px !important;"></div>
	    </div>
	    
	    <div class = "blob-skills2">
	    <div class = "obj-skills2" style="content: url({{ .contactblob2 | absURL }});"></div>
	    </div>
            
      
	    
	    
	    

</div>

{{ end }}
