{{ $action := .Site.Params.contacts }}
{{ with .Site.Data.home.contacts }}

<!-- Contact Form -->
<div class="content contacts">

	

	<!-- content -->
	
	
	
	
	<div class = "cover-moodboard jsCover">
	<div class="keywords for--4">
	  
        <ul class="inner">
          
          <!-- SOCIAL LIST ITEMS -->
                                    <li>
                <p class="type" _msttexthash="82134" _msthash="26">socials</p>
                
                {{ range .list }}
              
              <!-- Social List Item 1 -->
             
                
                <a href = "{{ .list_icon | absURL }}" target="_blank">
              <p class="value" style="color:#f0949e" _msttexthash="613522" _msthash="27">
                

                {{ .label }}
                
                </p>
              </a>
              
              {{ end }}
                
                
                
            </li>
            
            
            
            
            
             <!-- CODE LIST ITEMS -->
            
            <li>
                <p class="type" _msttexthash="80886" _msthash="28">code</p>
                
                {{ range .list2 }}
              
              <!-- Social List Item 1 -->
             
                
                <a href = "{{ .list_icon | absURL }}" target="_blank">
              <p class="value" style="color:#f0949e" _msttexthash="613522" _msthash="27">
                

                {{ .label }}
                
                </p>
              </a>
              
              {{ end }}
                
                
                
            </li>
                                    
                                    
                                   
                                    <li>
                <p class="type" _msttexthash="161187" _msthash="30">email</p>
                <p class="value" style="color:#f0949e" _msttexthash="99411" _msthash="31">luebhr@gmail.com</p>
            </li>
                                    
                    </ul>
    </div>
    </div>
    
    
	
	<!-- Background Wrap Object -->
            <div class = "blob-skills1" style = "right: .08%; top: -2%; transform: rotate(13deg); filter: saturate(1.25);">
	    <div class = "obj-skills1" style="content: url({{ .contactblob1 | absURL }}); width: 150px !important;"></div>
	    </div>
	    
	    <div class = "blob-skills2">
	    <div class = "obj-skills2" style="content: url({{ .contactblob2 | absURL }});"></div>
	    </div>
            
      
	    
	    
	    

</div>

{{ end }}
