<footer>
  <div class="footer__rs-link">
    <div class="div__content-link left marginbot">
      <p class="style__p-surtitre caps no_margin">© 2023</p>
      <div>
        <p class="style__p-surtitre caps no_margin">DEV BY</p>
        <img src="https://uploads-ssl.webflow.com/622dbec40bef54e41bd8c025/62b83699f1e18e84e44f632d_Fleur_leo-Parpeix_2022.png" loading="lazy" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d" alt="" class="flower_footer" />
        <p class="style__p-surtitre caps no_margin">
          <a href="http://leoparpeix.fr/" data-w-id="c4f44e0c-e8f9-f86a-8ea4-b8b3013da6fd" style="color: rgb(11, 11, 11)" target="_blank" class="link_leoparpeix hover_grey">Hannah Luebbering</a>
        </p>
      </div>
    </div>

    <!--<div class="div__content-link center">
      <div class="content__rs rs__footer">
        <a data-w-id="c4f44e0c-e8f9-f86a-8ea4-b8b3013da701" style="background-color: rgb(255, 255, 255)" href="https://www.instagram.com/" target="_blank" class="cta__rs-links w-inline-block">
          <div style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d" class="div-block-4">
            <p class="cta__p-caps">IG</p>
            <div class="cta-rs__hover-whitebg" style="background: linear-gradient(to right, rgb(192, 38, 211), rgb(219, 39, 119))"></div>
          </div>
          <p style="display: none; color: rgb(0, 0, 0); opacity: 1" class="cta__p-caps cta-rs_name-hide">@THEDODOISBACK</p>
        </a>
      </div>
    </div>-->

    <div class="div__content-link right marginbot">
      <a href="#section__hero" data-w-id="c4f44e0c-e8f9-f86a-8ea4-b8b3013da717" class="w-inline-block">
        <p style="color: rgb(11, 11, 11)" class="style__p-surtitre caps no_margin">BACK TO TOP</p>
        <img src="https://uploads-ssl.webflow.com/622dbec40bef54e41bd8c025/629ca051c703f30f006442a3_Arrow.svg" loading="lazy" width="12" alt="" class="arrow_backtotop" />
      </a>
    </div>
  </div>
</footer>
