{{ $portfolio := .Site.Params.portfolio }}
{{ $dateFormat := .Site.Params.dateFormat }}

{{ with .Site.Data.home.portfolio }}

{{ "<!-- Works -->" | safeHTML }}
<div class="content works">
  
  


	{{ if .title }}
	<div class="titleo">
	  <div class = "projects-logo" style="content: url({{ .projectico | absURL }});"></div>
	  <h2 class="advantages__title title" data-aos="animation-scale-y"  data-aos-delay="50">{{ .title }}</h2>
	  </div>
	{{ end }}


	<div class="filter-menu filter-button-group">
    <div class="f_btn active">
			<label><input type="radio" name="fl_radio" value="grid-item" />{{ i18n "all" }}</label>
		</div>

    {{ range $portfolio.filters }}
		<div class="f_btn">
			<label><input type="radio" name="fl_radio" value="{{ .slug }}" />{{ .name }}</label>
		</div>
		{{ end }}
	</div>



	<div class="cards-container skills__box">
		{{ range first $portfolio.homeNumOfItems (where $.Site.RegularPages "Section" "portfolio") }}
		

		{{ if eq .Params.source "content" }}
    {{ "<!-- content -->" | safeHTML }}
    
    
		<div class="my-item">
		  
		  
		  <div href="{{ .Params.external_link }}" target="_blank" class="box-item-card">
				
		
				  
				  <a href="{{ .Params.external_link }}" target="_blank" title="{{ .Title }}">
				  <div class="cases__preview" style="background-image: linear-gradient(53deg, {{ .Params.col1 }}, {{ .Params.col2 }}); background-image: {{ .Params.grad | safeCSS }}; width: 100%; height: 130px; padding: 0%; margin: auto; display: inline-flex; flex-wrap: wrap; align-content: center; box-shadow: inset 0px -4px 2px #f3f5f6; border-radius: 1px;">
                            <img class="cases__pic {{ .Params.label }}" src="{{ .Params.image | absURL }}" style="display: inline-flex !important;max-height: 100%; padding: 4%; max-width: 100%; {{ .Params.styles | safeCSS }}" alt="">
                            </div>
                        
                        </a>
				  
				  
				 
				<div class="card-body">
				  
				 
				  
				  <div class="category {{ .Params.category }}" style = "background-color: {{ .Params.category_color }} !important;">{{ .Params.category }}</div>
				  
				  

				  <a href="{{ .Params.external_link }}" target="_blank" class="projtitle"><h2>{{ .Title }}</h2></a>
					
					<p class="about-project">
					  {{ .Params.about }}
					 </p>
					
					<div class="card-details">
					  <i class="fa fa-calendar"></i>
					  <span>{{ .Params.dateit }} | </span>
					  
					  <i class="fa-brands fa-{{ .Params.lang }}"></i>
					  <span>{{ .Params.lang }}</span>


				</div>
				
				
		</div>
			
			
		</div>
		</div>
		{{ end }}

		{{ end }}

		
	

</div>

<!--
<div class = "blob-project1">
	    <div class = "obj-project1" style="content: url({{ .projectblob1 | absURL }});"></div>
	    </div>
-->
	    
	    
</div>

{{ end }}
