<script src="{{ "plugins/jQuery/jquery.min.js" | absURL }}" defer></script>



{{ if .Site.Params.sidebar.search }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js" integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js" integrity="sha512-Nqw1tH3mpavka9cQCc5zWWEZNfIPdOYyQFjlV1NvflEtQ0/XI6ZQ+H/D3YgJdqSUJlMLAPRj/oXlaHCFbFCjoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ "plugins/search/simple-search.js" | absURL }}"></script>
{{ end }}


<!--
<script async src="{{ "plugins/validate/jquery.validate.min.js" | absURL }}"></script>
<script async src="{{ "plugins/slimscroll/jquery.slimscroll.js" | absURL }}"></script>
<script async src="{{ "plugins/imagesloaded/imagesloaded.pkgd.min.js" | absURL }}"></script>
<script src="{{ "plugins/isotope/isotope.pkgd.js" | absURL }}" defer></script>

<script src="{{ "plugins/rrssb/rrssb.js" | absURL }}" defer></script>
-->


<script type="module">
requestIdleCallback(() => {
	import("{{ "plugins/owl-carousel/owl.carousel.js" | absURL }}");
});
</script>



<script src="{{ "js/common.js" | absURL }}" defer></script>
<script src="{{ "js/app.js" | absURL }}" defer></script>




{{ $formhandler := resources.Get "js/form-handler.js" | minify }}
<script src="{{ $formhandler.Permalink }}" defer></script>

{{ $script := resources.Get "js/common.js" | minify }}
<script src="{{ $script.Permalink }}" defer></script>
