@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url("https://use.typekit.net/oth3vqr.css");
@import url('//db.onlinewebfonts.com/c/f1fcc5aed1e20fc0cdb9f8a7573625bd?family=Integral+CF');
@import url("http://db.onlinewebfonts.com/c/f1fcc5aed1e20fc0cdb9f8a7573625bd?family=Integral+CF")

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
}
b {
  color: #1a1f2d;
  font-weight: 900;
}
li.nav-item {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 9pt !important;
  color: #535556;
}




.ml-auto {
  margin-right: auto !important;
  margin-left: 0 !important;
}
.navbar {
  background-position: 50% 50% !important;
  height: 75px !important;
  background-size: cover !important;
}
.navbar::after {
  content: "";
  background-size: cover !important;
  background-position: 50% 68% !important;
  opacity: 0.85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  filter: drop-shadow(1px 1px 1px #000) blur(0.1px);
}
.navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  color: #049587 !important;
  color: #495057 !important;
}
a.nav-link {
  opacity: 0.95 !important;
  color: #1a1f2d !important;
  font-size: 14px;
  font-weight: 500;
  z-index: 4 !important;
}
.navbar-light .navbar-nav > li.nav-item > a.active,
.navbar-light .navbar-nav > li.nav-item > a.active:focus,
.navbar-light .navbar-nav > li.nav-item > a.active:hover {
  color: #ea386f !important;
  color: #178265 !important;
  color: #099f90 !important;
  color: #049587 !important;
  color: #3d3d3d !important;
  text-shadow: 0.5px 0.5px 0.5px rgb(0 0 0 / 20%);
  padding-right: 2px !important;
  padding-left: 2px !important;
  padding-bottom: 5px !important;
  border-bottom: 3px dotted #049587;
  filter: drop-shadow(0.5px 0.5px 0.15px #404040d9);
}
#profile {
  content: "";
  background-size: cover !important;
  background-image: url(/img/banner5.jpg) !important;
  background-position: 50% !important;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0.033974%;
  top: 0;
  width: 100.068%;
  height: 100%;
  position: absolute;
  border: 2px solid hsl(334deg 59% 28%);
}
#profile .img-fluid {
  zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  height: 180px;
  width: 180px;
  animation: stampo 8s infinite linear;
  color: #ff3636;
  transform: scale(1.25) translate(25%, -25%);
  border-radius: 2px;
}
#profile .img-fluid {
  max-width: 85%;
  height: auto;
  margin: auto;
  opacity: 1;
}
#profile img.img-fluid {
  border-radius: 10px;
  box-shadow: 0 1px 0 0 rgb(255 255 255 / 50%) inset,
    0 3px 2px -2px hsl(0deg 0% 8% / 45%), 0 6px 6px 0 rgb(0 0 0 / 15%),
    0 -4px 4px 0 rgb(0 0 0 / 15%) inset,
    0 2px 4px 2px rgb(255 255 255 / 55%) inset, 0 0 1px 2px rgb(0 0 0 / 10%),
    0 0.0625em 0.1875em rgb(0 0 0 / 50%);
  border: 5px solid #1a1f2d;
}
.network-icon a {
  height: 20px;
  width: 15px;
  line-height: 20px;
  font-size: 18pt;
  color: #ea3a70;
}
.pub-icon {
  text-shadow: 0.5px 0.5px 0.5px rgb(0 0 0 / 20%);
}
i.fab.fa-linkedin:hover {
  color: #4d85ff !important;
}
i.fab.fa-github:hover {
  color: #4d85ff !important;
}
i.fas.fa-envelope:hover {
  color: hsl(183deg 100% 50%) !important;
}
i.fas.fa-external-link-alt:hover {
  color: hsl(219deg 45% 62%) !important;
}
.home-section:first-of-type {
  padding-top: 85px;
  padding-bottom: 85px;
}
.home-section:nth-of-type(odd) {
  background: #f8fafc;
  background: #f3f5f6;
}
.home-section:nth-of-type(even) {
  background: 0 0;
}
.container {
  width: 100%;
  padding-right: 17px;
  padding-left: 17px;
  margin: auto !important;
}
.row {
  margin: auto !important;
}
section#about {
  background: #f8fafc;
  background-size: cover !important;
  background-position: 50% 50% !important;
}
section#about .container {
  border: 1px solid #fbfbff;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.6);
  box-shadow: 0 4px 20px hsl(0deg 0% 76% / 30%);
  backdrop-filter: blur(15px) saturate(0.75) contrast(0.75);
  padding: 0 !important;
  display: flex;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
section#about .row {
  display: flex;
  flex-direction: row-reverse;
}
section#about p {
  opacity: 0.8;
}
.portrait-title {
  display: flex;
  flex-direction: column-reverse;
}
.portrait-title h2 {
  margin-bottom: 0;
  font-family: kepler-std-semicondensed, serif !important;
  font-weight: 900;
  font-style: normal;
  font-size: 65px;
  letter-spacing: 2px;
  line-height: 0.9em;
  text-transform: uppercase;
  margin-top: 25px;
  z-index: 8;
  color: #ff3636;
  font-family: "Integral CF" !important;
  line-height: 75px;
  margin-bottom: 30px;
}
.portrait-title h3 {
  text-transform: uppercase;
  opacity: 0.95;
  text-shadow: 0.5px 0.5px 0.5px rgb(0 0 0 / 20%);
  margin-bottom: -20px !important;
  margin-top: 10px;
  line-height: 1.2em;
  font-family: din-condensed, sans-serif;
  color: #333954;
  color: #1a1f2d;
  font-weight: 300;
  font-style: normal;
  font-size: 19px;
  letter-spacing: 0.05em;
}
h3.d-inline-block::before {
  background: #f0f8ff;
  display: flex;
  content: "";
  position: absolute;
  width: 68%;
  height: 10%;
  flex-wrap: wrap;
  z-index: -7 !important;
  top: 4%;
  left: 2%;
}
h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.25px;
  line-height: 35px;
  font-family: Oswald, sans-serif;
  text-shadow: 0.5px 0.5px 0.5px rgb(0 0 0 / 20%);
  font-family: din-condensed, sans-serif;
}
section#about .row .row::before {
  width: 130%;
  background-color: #f0f8ff;
  padding: 10%;
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  height: 50%;
  bottom: -5%;
  background: hsl(334deg 59% 28% / 90%);
}
i.fa-li.fas.fa-graduation-cap {
  color: #313131;
  background-image: url(https://images.unsplash.com/photo-1604233193955-0785a88e4d9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80);
  filter: drop-shadow(0.5px 0.5px 0.25px rgb(0 0 0/0.75));
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none !important;
  background-color: transparent;
  font-size: 15pt;
}
.fa-li {
  line-height: 18px;
}
ul.ul-edu li .description p.course {
  font-size: 14px;
  opacity: 0.95 !important;
  color: #fff !important;
  font-family: kepler-std-semicondensed;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 10px;
  letter-spacing: 0.25px;
  font-family: source sans pro,sans-serif;
  font-style: normal;
  
      font-weight: 300;
    letter-spacing: .25pt;
    font-size: 11pt;
    font-family: Roboto;
    color: lightslategray;
    color: #6c757d;
    text-shadow: 0.25pt 0.25pt 0.25pt #343a40;
}


p.edu-more {
      color: hsl(0deg 0% 42%);
    font-size: 10pt;
    opacity: .85;
    display: inline-flex;
    line-height: 1.25;
    margin-bottom: 2pt;
    margin-top: 2pt;
    font-weight: 400;
    font-family: Roboto;
    text-shadow: 0.125pt 0.15pt 0.2pt hsl(200deg 4% 17% / 75%);
    font-weight: 300;
}

.fa-ul {
  margin-left: 30px;
  margin-left: 0px;
}
ul.ul-edu li .description p.institution {
  opacity: 0.75 !important;
  color: #fff !important;
  font-family: "Proxima Nova", sans-serif;
  font-size: 10px !important;
  letter-spacing: 1.6px !important;
  text-transform: uppercase !important;
  color: #a09a9c !important;
  text-shadow: 0.5px 0.5px 0.5px #352f31, -0.5px 0.5px 0.5px #161415,
    0.5px -0.5px 0.5px #2f292b, -0.5px -0.5px 0.5px #424242, 0 0 1px #302a2c,
    0 0 2px #160d10;
    
    font-style: normal;
    font-size: 9pt;
    color: #343a40;
    text-shadow: 0.25pt 0.25pt 0.25pt #e9ecef;
    font-weight: 400;
    letter-spacing: .125em!important;
    line-height: 1rem;
    text-transform: uppercase;
    font-family: Roboto,sans-serif!important;
}
span.year {
  font-size: 10px;
  font-family: Roboto Condensed;
  font-weight: 400;
  position: absolute;
  right: 10% !important;
  padding: 2px 4px;
  margin-top: 2px;
  color: #fff;
  box-shadow: 0.25pt 0.25pt 0.5pt #343a40;
  display: inline-flex;
  float: right;
  background: hsl(210deg 14% 89%/25%);
  background-image: -webkit-linear-gradient(
    top,
    hsl(30deg 12% 87%/50%),
    hsl(26deg 14% 90%/50%)
  );
  border-radius: 5px;
  box-shadow: 0 1px #bebbb9 inset, 0 1px #fcfcfc;
  line-height: normal;
}

span.yearr {
        background: #f0ad4ecf;
    font-size: 8pt;
    font-family: Roboto Condensed;
    font-weight: 400;
    right: 10px !important;
    position: absolute;
    padding: 1.25pt 6pt;
    border-radius: 6pt;
    margin-top: 2pt;
    color: white;
    box-shadow: 0.25pt 0.25pt 0.5pt #343a40;
}

ul.ul-interests li {
  font-size: 11pt;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  opacity: 0.75;
  color: #fff !important;
  
    /*list-style: none;
    display: block;
    margin-left: -36px;
    padding: 6px 0px;
    border-bottom: 1px solid #e0e0e0;
    color: #555;
    font-size: 10pt;
    text-decoration: none;
    letter-spacing: .0178571429em!important;
    line-height: 1.25rem;
    font-weight: 400;*/
}

ul {
  padding-inline-start: 1.3em;
}
.section-heading h1 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  font-family: "Source Sans Pro";
  letter-spacing: -0.125px;
  text-shadow: 0.5px 0.5px 0.5px rgb(0 0 0 / 20%);
}
.section-heading h1::before {
  background-color: #ea386f;
  left: -22px;
  top: 8px;
  content: "";
  display: inline-flex;
  border-radius: 50%;
  position: absolute;
  height: 13px;
  width: 13px;
  box-shadow: 0 0.25px 0.25px 0.2px #605c5b70, 0.5px 0.5px 0.5px #fffbfc inset,
    0 0.5px 1.5px rgb(0 0 0 / 12%), 0 0.5px 1px rgb(0 0 0 / 24%);
  background-image: conic-gradient(
      #fff,
      #000,
      #fff,
      #000,
      #fff,
      #000,
      #fff,
      #000
    ),
    conic-gradient(#fff, #000, #fff, #000, #fff, #000, #fff, #000),
    radial-gradient(
      circle at 40% 5%,
      #2ad0ca,
      #e1f664,
      #feb0fe,
      #abb3fc,
      #5df7a4,
      #58c4f6
    ) !important;
  background-blend-mode: screen, difference, normal !important;
  filter: drop-shadow(0.25px 0.25px 0.25px rgb(0 0 0 / 50%));
}
.section-heading h1::after {
  background-color: #ea386f;
  right: -22px;
  top: 8px;
  content: "";
  display: inline-flex;
  border-radius: 50%;
  position: absolute;
  height: 13px;
  width: 13px;
  box-shadow: 0 0.25px 0.25px 0.2px #605c5b70, 0.5px 0.5px 0.5px #fffbfc inset,
    0 0.5px 1.5px rgb(0 0 0 / 12%), 0 0.5px 1px rgb(0 0 0 / 24%);
  background-image: conic-gradient(
      #fff,
      #000,
      #fff,
      #000,
      #fff,
      #000,
      #fff,
      #000
    ),
    conic-gradient(#fff, #000, #fff, #000, #fff, #000, #fff, #000),
    radial-gradient(
      circle at 40% 5%,
      #2ad0ca,
      #e1f664,
      #feb0fe,
      #abb3fc,
      #5df7a4,
      #58c4f6
    ) !important;
  background-blend-mode: screen, difference, normal !important;
  filter: drop-shadow(0.25px 0.25px 0.25px rgb(0 0 0 / 50%));
}
section#hero {
  background-image: url(/img/hero2.jpg) !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
  filter: drop-shadow(2px 4px 6px #000);
  box-shadow: inset 2px 2px 2px #f8f9fa;
  padding: 50px 0 !important;
}
section#hero h2 {
  border: 1px solid #fbfbff;
  border-radius: 12px;
  box-shadow: 0 4px 20px 0 hsl(0deg 0% 76% / 30%);
  backdrop-filter: blur(4px);
  width: 100%;
  height: auto;
  padding: 16px 18px;
  font-size: 14px;
  font-weight: 400 !important;
  color: #212529 !important;
  background: linear-gradient(
    135deg,
    transparent 0,
    transparent 8%,
    rgba(255, 255, 255, 0.03) 30%,
    rgba(255, 255, 255, 0.03) 60%,
    rgba(255, 255, 255, 0) 68%
  ) !important;
  background-color: hsl(0deg 0% 90% / 65%) !important;
  border-color: #ffffff99 #ffffff60 #0001 #ffffff50 !important;
  backdrop-filter: blur(11px) saturate(110%) !important;
  box-shadow: 0 1px 5px 1px rgb(41 41 41 / 45%),
    0 0.33em 0.725em -0.455em rgb(0 0 0 / 40%),
    inset 0 0.0625em 0 rgb(255 255 255 / 50%),
    inset 0 -0.125em 0.0625em rgb(0 0 0 / 28%) !important;
  border: 2px outset rgba(255, 255, 255, 0.3) !important;
  text-shadow: 0.25px 0.25px 0.85px #f8f9fa,
    0.125px 0.125px 1px hsl(210deg 14% 38% / 83%);
  font-family: "Open Sans", sans-serif !important;
  text-align: -webkit-left;
  line-height: 1.4;
}

.project-toolbar {
  margin-bottom: 0;
  display: flex !important;
  justify-content: center;
  column-gap: 4px;
  flex-wrap: wrap;
  align-content: space-around;
  padding-inline-start: 0 !important;
}
p.project-summary {
  font-size: 11pt;
  font-weight: 400;
  font-style: normal;
  opacity: 0.75;
}
.project-card.project-item {
  margin: 5px 5px 20px;
}
.projects-container {
  display: block !important;
  position: relative !important;
  overflow: hidden;
  height: auto !important;
  text-align: -webkit-center;
  padding-top: 0 !important;
}
.project-card.project-item.isotope-item {
  width: 22% !important;
  width: calc(25% - 15px) !important;
  height: 230px !important;
  min-width: 140px !important;
  display: inline-flex !important;
  position: unset !important;
}
.card-body {
  padding: 1rem;
}
.card .card-image {
  display: block;
  position: relative;
  min-height: 40px;
}
section#posts .row .col-12,
section#posts .row .col-12 .col-lg-8 {
  width: 100% !important;
  justify-content: left !important;
  padding: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
section#posts {
  background: url(/img/hero1.jpeg) !important;
  background: url(/img/hero13.jpeg)!important;
  background-size: cover !important;
  background-position: 50% 50% !important;
}
.btn-lg {
  font-size: 13px !important;
  padding: 10px 15px !important;
}
.btn-primary,
a.btn.btn-primary.btn-lg {
  border-radius: 5px !important;
  font-size: 9pt !important;
  letter-spacing: 0.5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 20%),
    inset 1px 1px 1px rgb(255 255 255 / 60%),
    inset -1px -1px 1px rgb(12 13 18 / 6%),
    -1px -1px 1px 0 rgb(255 255 255 / 60%),
    -1px -1px 4px 0 rgb(255 255 255 / 60%),
    -2px -2px 8px 0 rgb(255 255 255 / 60%), 1px 1px 1px 0 rgb(12 13 18 / 6%),
    1px 1px 4px 0 rgb(12 13 18 / 6%), 2px 2px 8px 0 rgb(12 13 18 / 6%) !important;
  background-color: hsl(228deg 14% 93%);
  text-shadow: 0.25px 0.25px 0.25px hsl(233deg 5% 26% / 85%),
    0.35px 0.35px 0.35px hsl(233deg 5% 26% / 85%), 0 -1.1px 0 rgb(12 13 18 / 8%),
    0 1.2px 0 rgb(255 255 255);
  color: hsl(233deg 5% 26%);
  font-weight: 200;
  font-family: Roboto, sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  border: none !important;
  margin-right: 4pt !important;
  margin-top: 15px;
}
li a.btn.btn-primary.btn-lg {
  padding: 9px 10px !important;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #f8f9fa;
  font-weight: 800;
  border-color: none !important;
  border-width: 3px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 20%),
    inset 1px 1px 1px rgb(255 255 255 / 60%),
    inset -1px -1px 1px rgb(12 13 18 / 6%),
    -1px -1px 1px 0 rgb(255 255 255 / 60%),
    -1px -1px 4px 0 rgb(255 255 255 / 60%),
    -2px -2px 8px 0 rgb(255 255 255 / 60%), 1px 1px 1px 0 rgb(12 13 18 / 6%),
    1px 1px 4px 0 rgb(12 13 18 / 6%), 2px 2px 8px 0 rgb(12 13 18 / 6%) !important;
  background-color: hsl(228deg 14% 93%) !important;
  text-shadow: 0.2px 0.2px 0.2px hsl(0deg 0% 5% / 90%),
    0.45px 0.45px 0.45px hsl(0deg 0% 30% / 50%),
    0.25px 0.25px 0.25px hsl(233deg 5% 26% / 85%),
    0.35px 0.35px 0.35px hsl(233deg 5% 26% / 85%), 0 -1.1px 0 rgb(12 13 18 / 8%),
    0 1.2px 0 rgb(255 255 255);
  color: #000;
}
.btn-primary:hover {
  color: #f8f9fa;
  background-color: #ea386f;
  border-color: #ea386f;
  font-weight: 700;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 20%),
    inset 1px 1px 1px rgb(255 255 255 / 60%),
    inset -1px -1px 1px rgb(12 13 18 / 6%),
    -1px -1px 1px 0 rgb(255 255 255 / 60%),
    -1px -1px 4px 0 rgb(255 255 255 / 60%),
    -2px -2px 8px 0 rgb(255 255 255 / 60%), 1px 1px 1px 0 rgb(12 13 18 / 6%),
    1px 1px 4px 0 rgb(12 13 18 / 6%), 2px 2px 8px 0 rgb(12 13 18 / 6%) !important;
  background-color: hsl(228deg 14% 93%);
  text-shadow: 0.25px 0.25px 0.25px hsl(233deg 5% 26% / 85%),
    0.35px 0.35px 0.35px hsl(233deg 5% 26% / 85%), 0 -1.1px 0 rgb(12 13 18 / 8%),
    0 1.2px 0 rgb(255 255 255);
  color: hsl(233deg 5% 26%);
}
a,
a:focus,
a:hover {
  color: #1a1f2d;
}
.card {
  box-shadow: 0 1px 3px rgb(0 0 0/12%), 0 1px 2px rgb(0 0 0/24%) !important;
  background: hsl(220deg 14% 97%) !important;
  color: #fff !important;
  background-color: #1a1f2d !important;
  text-align: left;
  background-color: #fff !important;
  border-radius: 6px !important;
  position: relative;
  margin-top: 15px !important;
  border: 1px solid #eee !important;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  color: #000 !important;
}
.card h4 a {
  color: #000;
}
.card p:last-child {
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  opacity: 0.75;
  line-height: 22px;
  text-overflow: clip;
}
.card-desription {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Source Sans Pro";
}
.card h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: din-condensed;
  line-height: 24px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px !important;
}
.card-tagss ul li a {
  margin: 1px;
  padding: 1px 6px;
  background: hsl(334deg 59% 28%);
  border-radius: 5px;
  line-height: 15px;
  font-size: 12.5px;
  color: #fff !important;
  font-family: "Roboto Condensed";
  font-weight: 400 !important;
  text-transform: lowercase;
}
.card-tagss {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 5px !important;
  height: 25px;
  margin-right: -5% !important;
  margin-left: -5% !important;
}
.card-tagss ul {
  padding-inline-start: 0;
  flex-wrap: wrap;
  margin-block-start: 0 !important;
}
.card-tagss li {
  list-style-type: none !important;
  display: inline-block;
}
.col-12.col-sm-4col-lg-3.col-sm-6.mb-4.mb-lg-0 {
  flex: 0 0 25%;
  max-width: 25%;
}
.svg-icon {
  display: inline-flex;
  align-self: center;
  width: 0.9em;
  height: 0.9em;
}
section#skills {
  padding: 55px 0;
}
ul.network-icon {
  padding-top: 0 !important;
  margin-left: -12pt !important;
  margin-right: 0 !important;
  background: 0 0 !important;
  width: auto !important;
  display: flex;
  flex-direction: row;
}
ul.network-icon li {
  list-style: none;
  width: 16pt;
  height: 40pt;
  margin: 0 0.75rem 0 0.75rem !important;
}
ul.network-icon li a {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  margin: 0 2px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.5s;
  text-shadow: 0 1px 1px hsl(0deg 0% 10% / 65%),
    0.04em 0.04em 0 hsl(0deg 0% 45% / 50%),
    -0.25px -0.25px 0.05px hsl(217deg 100% 95% / 85%),
    0.25px 0.25px 0.25px hsl(0deg 0% 100% / 95%),
    0.35px 0.35px 0.2px hsl(0deg 0% 90% / 85%), 0 -1px 0 hsl(0deg 0% 95% / 25%),
    0 1px 0.125px hsl(0deg 0% 5% / 85%);
  color: #fcfcfe;
  font-weight: 300;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 20%),
    inset 1px 1px 1px hsl(0deg 0% 80% / 40%),
    inset -1px -1px 1px rgb(12 13 18 / 6%),
    -1px -1px 1px 0 rgb(255 255 255 / 60%),
    -1px -1px 4px 0 rgb(255 255 255 / 60%),
    -2px -2px 8px 0 rgb(255 255 255 / 60%), 1px 1px 1px 0 rgb(12 13 18 / 6%),
    1px 1px 4px 0 rgb(12 13 18 / 6%), 2px 2px 8px 0 rgb(12 13 18 / 6%),
    inset -1px -1px 1px hsl(0deg 0% 0%);
  background: hsl(0deg 0% 22%/98%);
  background: #1a1f2d;
  border: 0.15px solid hsl(0deg 0% 45%);
}
ul.network-icon li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  background: hsl(0deg 0% 22%/98%);
}
ul.network-icon li a .fab,
ul.network-icon li a .fas {
  display: block;
  border-radius: 50%;
  line-height: calc(40px - 12px);
  font-size: 17px;
  transition: 0.5s;
  text-shadow: 0 1px 0 hsl(0deg 0% 0% / 65%),
    0.04em 0.04em 0 hsl(0deg 0% 0% / 50%),
    0.75px 0.25px 1.125px hsl(0deg 0% 0% / 95%),
    0 1px 1.125px hsl(0deg 0% 5% / 85%);
}
ul.network-icon li:nth-child(1) a:hover .fab,
ul.network-icon li:nth-child(1) a:hover .fas {
  color: #3b5998;
}
ul.network-icon li:nth-child(2) a:hover .fab,
ul.network-icon li:nth-child(2) a:hover .fas {
  color: #00aced;
}
ul.network-icon li:nth-child(3) a:hover .fab,
ul.network-icon li:nth-child(3) a:hover .fas {
  color: #dd4b39;
}
ul.network-icon li:nth-child(4) a:hover .fab,
ul.network-icon li:nth-child(4) a:hover .fas {
  color: #007bb6;
}
ul.network-icon li:nth-child(5) a:hover .fab,
ul.network-icon li:nth-child(5) a:hover .fas {
  color: #e4405f;
}
.gallery a[data-fancybox] img {
  height: 155px;
  margin: 4px;
  padding: 0;
  box-shadow: 0 1px 3px rgb(0 0 0/12%), 0 1px 2px rgb(0 0 0/24%) !important;
}
.navbar-brand img {
  max-height: 48px;
  margin-bottom: 2pt;
  margin-top: 2pt;
  filter: drop-shadow(0.25px 0.25px 0.25px #fff);
  filter: drop-shadow(0.25px 0.25px 0.25px #333333d9);
}
.navbar-brand {
  filter: drop-shadow(0.5px 0.5px 0.5px #2b2b2b);
  right: 4% !important;
  position: absolute;
  margin-right: auto !important;
}
section#hero .container .row {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr !important;
  align-items: stretch;
  justify-items: center;
  column-gap: 6px !important;
  border-radius: 4px;
  padding: 4px 2px;

  background: linear-gradient( 135deg,transparent 0,transparent 8%,rgba(255,255,255,3%) 30%,rgba(255,255,255,3%) 60%,rgba(255,255,255,0) 68% ) !important;
  background-color: hsl(0deg 0% 90%/25%) !important;
  border-color: #fff9 #ffffff60 #0001 #ffffff50 !important;
  backdrop-filter: blur(8px)saturate(130%) !important;
  /*box-shadow: 0 1px 5px 1px rgb(41 41 41/45%),0 .33em .725em -.455em rgb(0 0 0/.4),inset 0 .0625em rgb(255 255 255/.5),inset 0 -.125em .0625em rgb(0 0 0/28%) !important;*/
  border: 2px outset rgba(255,255,255,.3) !important;
}

.mark-1,
.mark-2,
.mark-3,
.mark-4,
.mark-5 {
  /*background: hsl(0deg 0% 93% / 90%);
  font-family: Roboto, sans-serif;
  box-shadow: 0 2px 1px #fff inset, 0 -2px 8px #d48f9f, 0 2px 5px rgb(0 0 0 / 10%), 0 8px 10px rgb(0 0 0 / 10%);
  border: 1px solid #a7a7a7;*/
  padding: 6px 6px 7px 10px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.1666666667em !important;
  line-height: 1rem;
  border-radius: 8px;
  color: #181b22;
  text-shadow: 0 1px 0 #fff;
  font-size: 14px;
    font-weight: 800;
    letter-spacing: .25px !important;
    text-shadow: 0.5px 0.5px 0.5px rgb(0 0 0 / 20%);
    font-family: din-condensed,sans-serif;
}
.mycol1 {
  width: 100%;
  border-left: 0.5px solid hsl(0deg 0% 88% / 50%);
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}
.container-skillbar {
  width: 90%;
  padding-top: 10px;
  height: auto;
  overflow: none;
  margin-left: 12px;
}
.skillbar {
  position: relative;
  display: block;
  width: 100%;
  transition: 0.4s linear;
  transition-property: width, background-color;
  margin-bottom: 15px;
  border-radius: 10px;
  background: hsl(207deg 50% 5%);
  overflow: hidden;
  box-shadow: 0 0 1px 0.75px rgb(22 26 38), 0 0 2px 0.75px rgb(67 68 88 / 50%);
  
  background: hsl(210deg 14% 89% / 25%);
  background-image: -webkit-linear-gradient(top, hsl(30deg 12% 87% / 50%), hsl(26deg 14% 90% / 50%));
  box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}
.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  font-weight: 700;
  color: #fff;
  background: 0 0 !important;
  overflow: hidden;
}
.skillbar-title span {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0 10px;
  height: 22px;
  font-size: 10px !important;
  text-transform: uppercase !important;
  color: #a09a9c;
  text-shadow: 0.5px 0.5px 0.5px #352f31, -0.5px 0.5px 0.5px #161415,
    0.5px -0.5px 0.5px #2f292b, -0.5px -0.5px 0.5px #424242, 0 0 1px #302a2c,
    0 0 2px #160d10;
  overflow: hidden;
  font-weight: 400;
  letter-spacing: 0.1666666667em !important;
  
  font-family: "Roboto", sans-serif;
    text-shadow: 0.25pt 0.3pt 1pt hsl(0deg 0% 100%);
    color: #212529;
}
.skill-bar-percent {
  position: absolute;
  right: 6px;
  top: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #fff;
  font-family: Roboto Condensed;
}
.skillbar-bar {
  height: 22px;
  border-radius: 10px;
  width: 50%;
  display: block;
  background-image: linear-gradient(#0f1621, #171d33, #222632);
  box-shadow: 0 0 0.5px #222632, -3px -20px 14px 3px rgb(20 7 14 / 15%),
    3px 20px 14px -3px rgb(241 249 255 / 3%),
    -3px -17px 14px -3px rgb(241 249 255 / 3%),
    0 -20px 10px -10px rgb(44 6 13 / 5%) inset,
    0 0 10px -10px rgb(44 6 13 / 5%) inset,
    0 30px 20px -10px rgb(241 249 255 / 5%) inset,
    0 -0.25px 0.75px 0.25px #0f1622, 0 0.5px 0.75px 0.25px #222632,
    0 -0.75px 2px -0.75px #0f1622, 0 0.75px 2px -0.75px #222632,
    0 1px 1.75px -0.75px #313842 inset, 0 -3px 4px -3px #1c1f30 inset,
    0 3px 3px -3px #3d3a4d, 0 -4px 7px -4px #0f1622, 0 4px 7px -4px #3d3a4d !important;
    
        box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9 !important;
    background-image: -webkit-linear-gradient(top, #dee2e6, #f8f9fa) !important;
}
.col-lg-8.project-item.isotope-item {
  background: #ececec;
  color: #7f7f7f;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #a7a7a7;
  box-shadow: 0 2px 1px #fff inset, 0 -2px 8px #fff, 0 2px 5px rgb(0 0 0 / 10%),
    0 8px 10px rgb(0 0 0 / 10%);
  -webkit-transition: box-shadow 0.5s;
}


/* @MEDIA MIN WIDTH */
/* @MEDIA MIN WIDTH */
/* @MEDIA MIN WIDTH */



@media (min-width: 770px) {
  .col-lg-5 {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .col-lg-7 {
    flex: 0 0 67%;
    max-width: 67%;
  }
}
@media (max-width: 769px) {
  p.course {
    font-size: 14px !important;
  }
  /*ul.ul-edu li {
    padding: 0 0px 4px 0px !important;
}*/
  section#hero .container .row {
    grid-template-columns: 2fr 2fr 2fr !important;
  }
  #profile .img-fluid {
    max-width: 185pt;
    margin-top: -14pt;
    margin-bottom: -14pt;
  }
  ul.network-icon {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  .col-lg-5 {
    margin-bottom: -14pt;
  }
  section#about .row .row .col-md-5,
  section#about .row .row .col-md-7 {
    width: 50%;
  }
  section#about .row .row::before {
    width: 100%;
  }
  section#about .row .row::before {
    width: 32%;
    height: 100%;
    bottom: 0 !important;
    left: 68% !important;
    background: url(/img/banner5.jpg) !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
  }
  section#about .row .col-md-7::before {
    content: "" !important;
    width: 185% !important;
    height: 85% !important;
    position: absolute;
    background: green;
    z-index: -2;
    bottom: 5%;
    left: 0;
    z-index: -1;
    background: hsl(334deg 59% 28% / 90%) !important;
  }
  div#profile {
    border: none !important;
    margin: auto !important;
    background: content-box !important;
    height: 100% !important;
    padding: 0 !important;
  }
  a.btn.btn-primary.btn-lg {
    right: 0 !important;
    position: absolute;
    margin-top: 30% !important;
    width: 30%;
  }
  #profile img.img-fluid {
    transform: scale(0.9) !important;
    right: 0 !important;
    position: absolute;
  }
  .project-toolbar {
    height: 0 !important;
    width: 0 !important;
    padding: 0 !important;
    opacity: 0 !important;
  }
  .portrait-title h2 {
    font-size: 50px;
    line-height: 57px;
    margin-bottom: 15px !important;
  }
  
  section#hero h2 {
    font-size: 12px;
    padding: 6px 8px;
    letter-spacing: -0.25px;
  }
}
@media (max-width: 530px) {
  section#hero .container .row {
    grid-template-columns: 2fr 2fr 2fr !important;
  }
  
  p.course {
    font-size: 13px!important;
}
ul.ul-interests li {
    font-size: 10pt;
}
  section#about .row .row::before {
    width: 100%;
    height: 55%;
    bottom: 0 !important;
  }
  a.btn.btn-primary.btn-lg {
    margin-top: 33% !important;
    width: 34%;
    transform: scale(0.85);
  }
  .portrait-title h3 {
    font-size: 16px;
  }
  .wg-hero {
    padding: 35px 0;
  }
  section#hero h2 {
    font-size: 11px;
    display: flex;
    padding: 6px 6px;
    letter-spacing: -0.25px;
  }
  
  span.year,span.yearr {
    right: 5% !important;
    right: -6px!important;

  }
  i.fa-li.fas.fa-graduation-cap {
    font-size: 14px;
  }
  .card h4 a {
    font-size: 18px;
    line-height: 15px !important;
  }
  #profile img.img-fluid {
    transform: scale(0.85) translate(2%, 4%) !important;
  }
  .portrait-title h2 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
  }
  ul.network-icon.bg-white.mx-2.py-2.text-center {
    display: flex;
    flex-wrap: wrap;
    width: 55% !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    height: 10%;
    transform: scale(0.9);
    justify-content: space-between;
  }
  section#about .row .row::before {
    width: 32%;
    height: 100%;
    bottom: 0 !important;
    left: 68% !important;
    background: url(/img/banner5.jpg) !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
  }
  section#about .row .col-md-7::before {
    content: "" !important;
    width: 185% !important;
    height: 85% !important;
    position: absolute;
    background: green;
    z-index: -2;
    bottom: 5%;
    left: 0;
    z-index: -1;
    background: hsl(334deg 59% 28% / 90%) !important;
  }
}







.content-text ul {
  list-style: none;
  display: block;
  padding-inline-start: 0.3em;

}
.content-text ul li {
    padding: 6px 0px;
    border-bottom: 1px solid #e0e0e0;
    color: #555;
    font-size: 10pt;
    text-decoration: none;
    letter-spacing: .0178571429em!important;
    line-height: 1.25rem;
    font-weight: 400;
    font-family: Roboto,sans-serif!important;
}
.content-text ul li:hover {
  margin-left: 25px;
}

ul li strong {
        font-weight: 300;
    letter-spacing: 0.25pt;
    font-size: 11pt;
    font-family: Roboto;
    color: lightslategray;
    color: #6c757d;
    text-shadow: 0.25pt 0.25pt 0.25pt #343a40;
}

span.edu {
    color: hsl(0deg 0% 42%);
    font-size: 10pt;
    opacity: 0.85;
    display: inline-flex;
    line-height: 1.25;
    margin-bottom: 2pt;
    margin-top: 2pt;
    font-weight: 400;
    font-family: Roboto;
    text-shadow: 0.125pt 0.15pt 0.2pt hsl(200deg 4% 17% / 75%);
    font-weight: 300;
}

ul li em {
    font-style: normal;
    font-size: 9pt;
    color: #343a40;
    text-shadow: 0.25pt 0.25pt 0.25pt #e9ecef;
    font-weight: 400;
    letter-spacing: .125em!important;
    line-height: 1rem;
    text-transform: uppercase;
    font-family: Roboto,sans-serif!important;
}



